#root .icon {
  font-size: 160px;
}
.first-div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  width: 90vw;
  height: 90vh;
  margin: 10px auto;
}
.second-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 70px;
  font-family: sans-serif;
  text-transform: uppercase;
}
.one {
  align-self: flex-start;
}
.two {
  align-self: flex-end;
}
.snowflake {
  color: aqua;
  animation-name: sun;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 8s;
}
.sun {
  color: wheat;
  animation-name: sun;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
}
@keyframes sun {
  0% {
    transform: rotate(360deg);
  }
}
