.img-container {
  position: relative;
}
.weather-title {
  position: absolute;
  bottom: 15px;
  color: #F7F6F2;
}
img {
  width: 300px;
  height: 250px;
  filter: blur(2px);
}
.big-container {
  display: flex;
  gap: 20px;
}
